// Эффект fadeIn для текста
@keyframes fadeIn {
  0% { 
    transform: translateY(1.5rem);
    opacity: 0;
    }
  100% { 
    opacity: 1; 
    transform: translateY(0);
  }
}

@keyframes rollToTheRight {
  from {
    transform: translate3d(-7rem, 0, 0) rotate(-180deg);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes rollToTheLeft {
  from {
    transform: translate3d(7rem, 0, 0) rotate(180deg);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 1;
  }
}

.slider {
  position: relative;
  flex-grow: 1;
  width: 100%;

  .swiper-wrapper {
    min-height: 100vh;
    box-sizing: border-box;

    @media (max-width: $tablet) and (orientation: portrait) {
      min-height: calc(var(--vh, 1vh) * 100);
    }
  }
}

.slider__item {
  display: flex;
  flex-direction: column;
  padding: 14.6rem 4rem 10rem 9.7rem;
  height: auto;

  @media (min-width: $stop-scaling) {
    padding: 146px 40px 100px 97px;
  }

  @media (orientation: portrait) {
    display: flex;
    flex-direction: column;
    padding: 6rem 1rem 3.5rem 3.5rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem 0 5rem;
  }

  &:nth-child(even) {
    .slider__item-text {
      align-self: flex-end;

      @media (max-width: $mobile) and (orientation: landscape) {
        align-self: flex-start;
      }
    }
  }

  &:nth-child(2) {
    .slider__item-text {
      margin-top: 7.8rem;

      @media (min-width: $stop-scaling) {
        margin-top: 78px;
      }

      @media (orientation: portrait) {
        margin-top: auto;
      }

      @media (max-width: $mobile) and (orientation: landscape) {
        margin-top: auto;
      }
    }
  }
}

.slider__item-title {
  margin: 0 0 0 -5.5rem;
  text-transform: uppercase;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.04em;

  @media (min-width: $stop-scaling) {
    margin-left: -55px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    margin-left: -2.5rem;
    font-size: 3.6rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin-left: -2.5rem;
    font-size: 3rem;
  }
}

.slider__item-text {
  margin-top: 3.6rem;
  margin-bottom: 0;
  max-width: 34rem;
  font-size: 1.8rem;
  line-height: 2rem;
  animation: fadeIn 1.5s;

  @media (min-width: $stop-scaling) {
    margin-top: 36px;
    max-width: 340px;
    font-size: 18px;
    line-height: 20px;
  }

  @media (orientation: portrait) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    min-height: 11.6rem;
    font-size: 1.4rem;
    line-height: 1.5rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    min-height: 14rem;
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
}

.slider__controls {
  position: absolute;
  bottom: 2.8rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 17rem;
  z-index: 1;

  @media (min-width: $stop-scaling) {
    bottom: 28px;
    width: 170px;
  }

  @media (orientation: portrait) {
    display: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: none;
  }
}

.slider__control {
  @include btn-reset;
  position: relative;
  width: 4rem;
  height: 4rem;
  color: $c-dark;
  opacity: 0;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-in-out;

  &--prev {
    animation-name: rollToTheRight;
  }

  &--next {
    animation-name: rollToTheLeft;
  }

  @media (min-width: $stop-scaling) {
    width: 40px;
    height: 40px;
  }

  &::before {
    @include center;
    content: "";
    width: 100%;
    height: 100%;
    background-color: $c-light;
    border: 2px solid $c-light;
    border-radius: 50%;
    z-index: -1;
  }

  svg {
    @include center;
    display: block;
    width: 1rem;
    height: 2rem;
    pointer-events: none;

    @media (min-width: $stop-scaling) {
      width: 10px;
      height: 20px;
    }
  }

  &:hover {
    color: $c-purple;

    &::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    color: $c-purple;
    outline: none;

    &::before {
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    color: $c-light;

    &::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }

  &.swiper-button-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

body.theme-violet {
  .slider__control {
    color: $c-dark;
  }
}

// синяя тема
body.theme-blue {
  // переключатель
  .social-block__toggler {
    color: $c-blue;

    &:hover,
    .social-block--active & {
      color: $c-blue;
    }

    &:focus {
      color: $c-blue;
      &::before {
        border-color: $c-blue;
      }
    }

    &:active,
    &:active:focus {
      color: $c-light;

      &::before {
        width: 100%;
        height: 100%;
        background-color: $c-blue;
        border-color: $c-blue;
      }
    }
  }

  .social-block__toggler svg {
    &:hover,
    .social-block--active & {
    color: $c-blue;
    }

    &:focus {
      color: $c-blue;
      outline: none;
  
      &::before {
        border-color: $c-blue;
      }

      &:active,
      &:active:focus {
        color: $c-blue;

        &::before {
        background-color: $c-blue;
        border-color: $c-blue;
        }
      }
    }
  }

  // иконки соцсетей
  .social-block__link {
    &:hover {
      color: $c-blue;
    }

    &:focus {
      color: $c-blue;
      border-color: $c-blue;
    }

    &:active,
    &:active:focus {
    color: $c-blue;
    }
  }

  // кнопочки слайдера
  .slider__control {
    color: $c-blue;

    &::before {
      border: 2px solid $c-blue;
    }

    &:active,
    &:active:focus {
      color: $c-blue;

    &::before {
      background-color: $c-light;
      border-color: $c-blue;
    }
  }
  }

  .page-header__menu {
    a {
      // динамическое подчеркивание пункта меню при наведении
      &::before {
        background-color: $c-blue;
      }
      // статичное подчеркивание активного пункта меню
      &::after {
        background-color: $c-blue;
      }

      // цвет пункта меню при наведении
      &:hover,
      &:focus {
        color: $c-blue;
      &::after {
        background-color: $c-blue;
      }
    }
    }
  }
}

.slider__pagination.swiper-pagination {
  position: absolute;
  bottom: 2.8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 9rem;
  height: 4rem;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 4rem;

  @media (min-width: $stop-scaling) {
    bottom: 28px;
    width: 90px;
    height: 40px;
    font-size: 24px;
    line-height: 40px;
  }

  @media (orientation: portrait) {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 2.1rem;
    transform: none;
    margin: 0;
    height: 2rem;

    .swiper-pagination-bullet {
      margin: 0 0.6rem;
      width: 0.4rem;
      height: 0.4rem;
      background-color: $c-light;
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 2.1rem;
    transform: none;
    margin: 0;
    height: 2rem;

    .swiper-pagination-bullet {
      margin: 0 0.6rem;
      width: 0.4rem;
      height: 0.4rem;
      background-color: $c-light;
    }
  }
}
